<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification Service.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Quote Content Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>The Daily Quote Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>The Daily Quote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>975678DA1D930B4300C9F3A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975678F71D93129800C9F3A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C017B11D9AF04000AB254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FD90C51D9AD2A200D3C818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
